.miniStore {
    width: 100vw;
    background: #fbfbfd;
}

.apple-wrapper{
    height: 11.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;
}

.applePhone{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.phone {
    text-align: center;
    color: #000;
}

.appleName {
    text-align: center;
    display: block;
    width: 75px;
}

.phone:hover .appleName{
    color: #06c;
}

.pro {
    background-color: white;
}

.title {
    font-family: AppleSB;
}
.money {
    font-size: 1.5em;
    color: #1d1d1f;
    text-align: center;
    margin-bottom: 20px;
}

.date {
    text-align: center;
    font-size: ;
}