html {
    background: #fbfbfd;
}

.gray {
    color: #6e6e73;
}

.store {
    height: 1500px;
}

.store-title {
    font-size: 3.2em;
    width: 900px;
    margin: auto;
    margin-bottom: 350px;
    font-family: AppleB;
    padding-top: 180px;
}

.explain {
    font-size: 1.8em;
    width: 900px;
    margin: auto;
    font-family: AppleB;
    padding-bottom: 3rem;
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    padding: 20px 23vw 50px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.product {
    display: inline-block;
    width: 400px;
    height: 500px;
    border-radius: 18px;
    margin: 0 20px;
}

.product,
.help {
    background-color: #fff;
    cursor: pointer;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.product:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 20%);
    transform: scale3d(1.01, 1.01, 1.01);
}

#product1 {
    background-image: url(/images/sliceApple.jfif);
}

#product2 {
    background-image: url(/images/handApple.jpg);
}

#product3 {
    background-image: url(/images/colorApple.jpg);
    background-position: -140px;
    background-color: #000;
    color: white;
}

#product4 {
    background-image: url(/images/waterApple.jpg);
    background-position: center;
}

.date {
    font-size: 0.9em;
    margin: 2rem 0 0 2rem;
}

.coment {
    font-size: 2em;
    margin: 0.5rem 0 0 2rem;
    font-family: AppleB;
}

.money {
    font-size: 1.5rem;
    margin: 1rem 0 0 2rem;
}

.sevice {
    height: 100vh;
}

.help {
    display: block;
    width: 700px;
    height: 600px;
    border-radius: 30px;
    margin: 0 auto;
    background-image: url(https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-50-specialist-202108?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1626296836000);
    background-position: center -100px;
    background-size: 700px 700px;
}

.help:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 20%);
    transform: scale3d(1.01, 1.01, 1.01);
}

.help-coment {
    font-size: 2em;
    font-family: AppleB;
    padding: 4.5rem 0 0 2rem;
}