html {
    background: #fbfbfd;
}

.gray {
    color: #6e6e73;
}

.store {
    height: 120vh;
}

.main-header {
    position: static;
}

.store-title {
    font-size: 3.2em;
    width: 20em;
    margin: auto;
    margin-bottom: 5em;
    font-family: AppleB;
    padding-top: 3em;
}

.explain {
    font-size: 1.7em;
    width: 37.5em;
    margin: auto;
    font-family: AppleB;
    padding-bottom: 0.5em;
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    padding: 20px 15em 20px 35em;
    transition: 1s;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.product {
    display: inline-block;
    width: 25em;
    height: 32em;
    border-radius: 1.2em;
    margin: 0 10px;
}

.product,
.help {
    background-color: #fff;
    cursor: pointer;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.product:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 20%);
    transform: scale3d(1.01, 1.01, 1.01);
}

#product1 {
    background-image: url(../images/sliceApple.jfif);

}

#product2 {
    background-image: url(../images/handApple.jpg);
}

#product3 {
    background-image: url(../images/colorApple.jpg);
    background-position: -140px;
    background-color: #000;
    color: white;
}

#product4 {
    background-image: url(../images/waterApple.jpg);
    background-position: center;
}

.date {
    font-size: 0.9em;
    margin: 2em 0 0 2em;
}

.comment {
    font-size: 1.8em;
    margin: 0.5em 0 0 1em;
    font-family: AppleB;
}

.money {
    font-size: 1.5em;
    margin: 0.5em 0 0 1.190em;
}

.sevice {
    height: 70vh;
}

.help {
    display: block;
    width: 50em;
    height: 43em;
    border-radius: 2em;
    margin: 0 auto;
    background-image: url(https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/store-card-50-specialist-202108?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1626296836000);
    background-position: center -7em;
}

.help:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 20%);
    transform: scale3d(1.01, 1.01, 1.01);
}

.help-comment {
    font-size: 2em;
    font-family: AppleB;
    padding: 4.5rem 0 0 2rem;
}

.sale {
    height: 80vh;
}

.sale .comment {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family: AppleSB;
}

.sale #product1 {
    background-image: url(../images/twiceApple.jpg);
    background-position: -17em 4em;
}

.sale #product2 {
    background-color: black;
    background-image: url(../images/nemoApple.jpg);
    background-position: center 4em;
    color: white;
}

.sale #product3 {
    background-color: white;
    color: black;
    background-image: url(../images/newApple.jpg);
    background-position: center 3.5em;
}

@media screen and (max-width : 1000px) {

    .store {
        height: 100vh;
    }

    .store-title {
        font-size: 2.5em;
    }

    .explain {
        font-size: 1.3em;
    }

    .scroll {
        font-size: 0.8em;
        padding-left: 10em;
    }

    .help {
        font-size: 0.8em;
    }

    .sale {
        height: 65vh;
    }
}

@media screen and (max-width : 700px) {

    .store {
        height: 90vh;
    }

    .store-title {
        font-size: 2em;
        margin-left: 27px;
    }

    .scroll {
        padding-left: 5em;
    }

    .explain {
        font-size: 1.3em;
        margin-left: 27px;
    }

    .sevice {
        height: 70vh;
    }

    .sale {
        height: 50vh;
    }
}